<div class="nested-fieldset">
  <p class="hidden-field">
    <%= c_f.text_field :user_id, :value => current_user.id, :hidden => 1 %>
  </p>
  <p class="field">
    <%= c_f.label :body, 'Initial comment:' %>
    <%= c_f.text_area :body, :size => '40x5' %>
  </p>
  <p class="hidden-field">
    <%= c_f.check_box :top_level, :checked => true, :hidden => 1 %>
  </p>
</div>
