<% @page_title = "Theme #{@theme.name}" %>

<div class="theme show">

  <%= link_to "Themes", themes_path(:category_id => @theme.category_id), :class => "back-link" %>

  <h1>Theme <%= @theme.name %></h1>

  <h3><%= link_to "Comments", comments_path(:theme_id => @theme.id), :class => "ahead-link" %></h3>

</div>
