<p>Attach a Tag:</p>
<div class="tag_attaching new">
  <%= form_for :tag_attaching, :url => tag_attachings_path, :html => {:method => :post} do |f| %>
    <%= render :partial => 'tag_attachings/form', :locals => {:f => f, :comment_id => comment_id} %>

    <div class="form-buttons">
      <%= f.submit "Attach", :class => 'button create' %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
