/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

form .fieldset label{
    display: block;
    float: left;
    width: 150px;
}

form .fieldset input,
form .fieldset textarea{
    width: 350px;
}


#new_user .fieldset input, .session form .fieldset input{
    width: 250px;
}

/* Errors */
.field_with_errors { }
.field_with_errors label { color: #AA0000; }
.field_with_errors input { }
#error-explanation { width: 400px; padding: 0; /*margin: 0 auto 1.5em;*/
  border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#error-explanation h2 { font-weight: bold; font-size: 12px;
  padding: 5px 5px 5px 15px; margin: 0; width: 380px;
  background-color: #AA0000; color: #FFFFFF; }
#error-explanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#error-explanation ul { margin-top: 10px; padding-left: 15px; }
#error-explanation ul li { list-style: none; }
