/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.main{
    width: 70%;
}

#logo{
    display: block;
    float: left;
}

p, h1, h2, h3, h4{
    margin-top: 0;
}

a{
    text-decoration: none;
}

.back-link{
    display: inline-block;
    margin-bottom: 15px;
}

.notice{
    border:  1px solid #66aa44;
    color: #66aa44;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
}

.navigation{
    float: right;
}

.navigation ul{
    margin-top: 0;
}

.navigation li{
    list-style: none;
    display: block;
    float: left;
    padding-right: 10px;
}

.top-statistics {
    margin-bottom: 20px;
}

.statistics, .data, .actions{
    padding-left: 10px;
}

.statistics, .data, .actions{
    float: left;
}

.content{
    margin-top: 30px;
}

.summary{
    border-top:  1px solid #eee;
}

.odd{
    background-color: #eee;
}

.statistics{
    width: 10%;
}

.data{
    width: 55%;
}

.actions{
    width: 30%;
}

form .fieldset label{
    display: block;
    float: left;
    width: 150px;
}

form .fieldset input, form .fieldset textarea{
    width: 350px;
}

#new_user .fieldset input, .session form .fieldset input, #new_tag input#tag_name,
.edit_user .fieldset input{
    width: 250px;
}

#new_tag #attached{
    width: auto;
}

.estimation{
    float: right;
}

.estimation form, .estimation-report{
    width: auto;
    float: left;
}

ul.tags{
    padding-left: 0;
    margin-bottom: 0;
}

ul.tags li{
    list-style: none;
    display: inline-block;
}

.tag_attaching p{
    margin: 0 2px 3px 0;
    display: block;
    width: auto;
    float: left;
}

.tag_attaching form, .tag_attaching .form-buttons, .tag_attaching .fieldset{
    display: inline-block;
    float: left;
}

/* Errors */
.field_with_errors { }
.field_with_errors label { color: #AA0000; }
.field_with_errors input { }
#error-explanation { width: 400px; padding: 0; /*margin: 0 auto 1.5em;*/
  border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#error-explanation h2 { font-weight: bold; font-size: 12px;
  padding: 5px 5px 5px 15px; margin: 0; width: 380px;
  background-color: #AA0000; color: #FFFFFF; }
#error-explanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#error-explanation ul { margin-top: 10px; padding-left: 15px; }
#error-explanation ul li { list-style: none; }

.clear{
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
