<div class="category index">
<h1>Categories</h1>

  <% @categories.each do |category| %>
    <div class="category summary">
      <div class="statistics">
        <div class="themes"><%= pluralize category.themes.size, 'themes' %></div>
      </div>
      <div class="data">
        <h2> <%= link_to category.name, category_path( category.id ), :class => "show link" %> </h2>
      </div>
    </div>
  <% end %>
</div>