<div class="category show">

  <%= link_to "All Categories", categories_path, :class => "back_link" %>

  <h1>Category <%= @category.name %></h1>

  <h3><%= link_to "Themes", themes_path( :category_id => @category.id ) %></h3>

</div>
